@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700');

.main-header .logo {
  font-family: "Georgia", serif;
  color: #2F56A6 !important;
  background-image: url("nycc-wordmark-blue.png");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: 75%;
  background-color: #fff !important;
}

body {
  font-family: "Open Sans", "Arial", sans-serif;
}

h1, h2, h3, h4, h5 {
  font-family: "Georgia", serif;
}

.box-header {
  padding-right: 38px !important;
}
